/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  color: #f7f0e7;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: transparent;
}

.logo img {
  height: 45px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin-left: 30px;
  color: #f7f0e7;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #b0d9c6;
}

/* Hero Section */
.hero {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #050f0c;
  background-image: radial-gradient(
    circle at 80% 90%,
    rgba(0, 255, 170, 0.25) 0%,
    rgba(0, 255, 170, 0.15) 20%,
    rgba(0, 255, 170, 0.05) 40%,
    rgba(0, 0, 0, 0.0) 70%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #f7f0e7;
}

.hero p {
  font-size: 1.2rem;
  color: #f7f0e7;
  line-height: 1.6;
  margin-bottom: 2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.explore-btn {
  background: #f7f0e7;
  color: #1c3c33;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.explore-btn:hover {
  transform: scale(1.05);
}

/* Секция 2 */
.section-2 {
  height: 100vh;
  scroll-snap-align: start;
  background-color: #f7f0e7;
  color: #1c3c33;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.section-2-content {
  max-width: 800px;
}

.section-2 h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.section-2 p {
  font-size: 1.1rem;
  line-height: 1.6;
}
